/* app css stylesheet */

body {
    padding-top: 60px;
    overflow-y: scroll;
}

.app-toggle {
    margin-bottom: 20px;
}

.app-tab-controls {
    margin-left: 10px;
    cursor: pointer;
}

.app-weekly-set input.time {
    width: 40px;
}

.app-interval {
    margin-bottom: 5px;
}

.app-interval-add {
    margin-left: 10px;
    margin-right: 5px;
}

.app-formline {
    position: relative;
    top: 5px;
}

.nav-tabs {
    margin-bottom: 0;
}

.tab-content {
    padding: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -webkit-border-radius: 0 4px 4px 4px;
    -moz-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
}

.app-horizontal-line-dotted {
    border-top: 1px dashed #ddd;
    margin-bottom: 20px;
}

/*
.tab-content > .active, .pill-content > .active {
    display: block;
    margin-top: -1px;
}*/

input.ng-invalid,
textarea.ng-invalid,
select.ng-invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}

input.ng-invalid:focus,
textarea.ng-invalid:focus,
select.ng-invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}